<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <link rel="stylesheet" href="%(styleref)s" charset="ISO-8859-1" type="text/css">
  <title>EclEmma - %(title)s</title>
</head>

<body>

<table cellspacing="0" cellpadding="5" border="0" style="width:100%%;background-color:#eeeeee;">
  <tr>
    <td style="vertical-align:bottom;font-size:14pt;font-weight:bold;color:#595791;">EclEmma - Java Code Coverage for Eclipse</td>
    <td style="text-align:right;"><a href="http://sourceforge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=177969&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo"/></a></td>
  </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" style="width:100%%;border-top:1px solid ThreeDShadow;border-bottom:1px solid ThreeDShadow;">
<tr><td style="vertical-align:top;padding:20px 10px 5px 5px;background-color:eeeeee;">
%(navigation)s
</td><td style="vertical-align:top;padding:5px 0px 5px 10px;width:90%%">
%(body)s
</td></tr>
</table>
<small>%(LastChangedDate)s</small>

</body>
</html>