<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <link rel="stylesheet" href="%(styleref)s" charset="ISO-8859-1" type="text/css">
  <title>EclEmma - %(title)s</title>
</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" style="width:100%%;">
<tr>
  <td style="padding:5px 10px 5px 10px;font-size:16pt;font-weight:bold;color:#000066;background-color:f7f7f7;border:1px solid #a5b6c6;">EclEmma</td>
  <td style="padding:5px 10px 5px 10px;font-size:16pt;font-weight:bold;color:#8998a5;border-bottom:1px solid #a5b6c6;">
    Java Code Coverage for Eclipse
  </td>
  <td style="padding:0px 0px 5px 0px;border-bottom:1px solid #a5b6c6;text-align:right">
    <a href="http://sourceforge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=177969&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo"/></a>
  </td>
</tr>
<tr><td style="vertical-align:top;padding:20px 10px 200px 10px;background-color:f7f7f7;border-left:1px solid #a5b6c6;border-right:1px solid #a5b6c6;border-bottom:1px solid #a5b6c6;">
  %(navigation)s
  <div style="white-space:nowrap;margin-top:30pt;margin-bottom:3pt;">
    <a href="http://sourceforge.net/projects/eclemma" style="color:#000000">SourceForge Home</a>
  </div>
  <div style="white-space:nowrap;">
    <a href="http://emma.sourceforge.net/" style="color:#000000">EMMA Project</a>
  </div>
</td><td style="vertical-align:top;padding:10px 0px 5px 20px;width:90%%;border-bottom:1px solid #a5b6c6;" colspan="2">
%(body)s
</td></tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" style="width:100%%;">
<tr>
  <td style="color:#8998a5;font-size:8pt">Copyright &copy; 2006 Marc R. Hoffmann, Mountainminds GmbH &amp; Co. KG</td>
  <td style="text-align:right;color:#8998a5;font-size:8pt">%(LastChangedDate)s</td>
</tr>
</table>

</body>
</html>