pool:
  vmImage: 'ubuntu-20.04'
steps:
- bash: |
    python2 --version
    curl -fsSL -O https://bootstrap.pypa.io/pip/2.7/get-pip.py
    python2 get-pip.py --no-python-version-warning && rm -f get-pip.py
    python2 -m pip --version
    python2 -m pip install six
- bash: ./render.sh
  displayName: Build
- bash: |
    set -e

    WORKING_DIR="`pwd`/work"
    RESULT_DIR=$WORKING_DIR/result

    TEMP=/tmp/jacoco-snapshot
    mkdir $TEMP
    wget -O $TEMP/download.zip "https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.jacoco&a=jacoco&e=zip&v=LATEST"
    unzip $TEMP/download.zip -d $TEMP

    TARGET=$RESULT_DIR/jacoco/trunk
    mkdir $TARGET
    cp $TEMP/index.html $TARGET
    cp -r $TEMP/doc $TARGET/doc
    cp -r $TEMP/test $TARGET/test
    cp -r $TEMP/coverage $TARGET/coverage

    cd work/result

    # https://help.github.com/articles/files-that-start-with-an-underscore-are-missing/
    touch .nojekyll

    git init
    git config user.name ${GIT_COMMITTER_NAME}
    git config user.email ${GIT_COMMITTER_EMAIL}
    git add .
    git commit -q -m "Automatic deployment"

    git push --force "https://${GH_TOKEN}@github.com/jacoco/jacoco.github.io" master > /dev/null 2>&1

    echo "www.jacoco.org" > CNAME && git add CNAME && git commit -q --amend --reuse-message=HEAD
    git push --force "https://${GH_TOKEN}@github.com/jacoco/jacoco.org" master:gh-pages > /dev/null 2>&1

    echo "www.eclemma.org" > CNAME && git add CNAME && git commit -q --amend --reuse-message=HEAD
    git push --force "https://${GH_TOKEN}@github.com/jacoco/eclemma.org" master:gh-pages > /dev/null 2>&1

    echo "www.eclemma.com" > CNAME && git add CNAME && git commit -q --amend --reuse-message=HEAD
    git push --force "https://${GH_TOKEN}@github.com/jacoco/eclemma.com" master:gh-pages > /dev/null 2>&1
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  displayName: Deploy
  env:
    GIT_COMMITTER_NAME: $(GIT_COMMITTER_NAME)
    GIT_COMMITTER_EMAIL: $(GIT_COMMITTER_EMAIL)
    GH_TOKEN: $(GH_TOKEN)
